<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>mpct</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- socket.io, bitches -->
    <!-- <script src="http://mobius:6602/socket.io/socket.io.js"></script> -->
    <script src="js/socket.io.js"></script>
    <!-- <script src="js/sails.io.js"></script> -->
    <!-- <script src="js/angular&#45;sails.js"></script> -->
    <script>
      // var socket = io('http://localhost:6601');
      // socket.on('connect', function(socket) {
      //   console.log('a user connected', socket);
      // });
      // socket.on('disconnect', function() {
      //   console.log('user disconnected');
      // });
      // socket.on('status', function(status) {
      //   console.log('status', status);
      // });
    </script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="mpct">

    <!--
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">mpct</h1>
      </ion-header-bar>
      <ion-content>
      </ion-content>
    </ion-pane>
    -->

    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button ion-ionic" ng-click="toggleServer()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view> 

    <script id="tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-black">

        <ion-tab title="Main" icon="ion-grid" href="#/tab/main">
          <ion-nav-view name="main-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Genres" icon="ion-mic-c" href="#/tab/genres">
          <ion-nav-view name="genres-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Latest" icon="ion-ios7-cloud-download" href="#/tab/latest">
          <ion-nav-view name="latest-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon="ion-ios7-gear" href="#/tab/settings">
          <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="main.html" type="text/ng-template">
      <ion-view title="{{host || ''}}">
        <ion-content>
          <div class="progress" style="width:{{percent || 0}}%"></div>
          <p class="info">{{(status.currentSong.Artist ? status.currentSong.Artist + ' - ' : '') + status.currentSong.Title || 'idle'}}</p>
          <div class="button-bar padding-horizontal padding-bottom" ng-show="useMarantz">
            <a butt="Mobius" class="button button-balanced">&infin;</a>
            <a butt class="button button-balanced">CCast</a>
            <a butt class="button button-balanced">Mini</a>
            <a butt class="button button-dark">Off</a>
          </div>
          <div class="button-bar padding-horizontal padding-bottom" ng-show="useMarantz">
            <a butt class="button button-energized">0</a>
            <a butt class="button button-energized">1</a>
            <a butt class="button button-energized">2</a>
            <a butt class="button button-dark">+</a>
          </div>
          <div class="button-bar padding-horizontal padding-bottom" ng-show="useMarantz">
            <a butt class="button button-energized">3</a>
            <a butt class="button button-energized">4</a>
            <a butt class="button button-energized">5</a>
            <a butt class="button button-dark">-</a>
          </div>
          <div class="button-bar padding-horizontal padding-bottom">
            <a butt="prev" class="button button-calm icon ion-ios7-skipbackward"></a>
            <!--<a butt="toggle" class="button button-calm icon ion-ios7-play"></a>-->
            <a butt="play" ng-show="!playing" class="button button-calm icon ion-ios7-play"></a>
            <a butt="pause" ng-show="playing" class="button button-calm icon ion-ios7-pause"></a>
            <a butt="next" class="button button-calm icon ion-ios7-skipforward"></a>
          </div>
          <div class="button-bar padding-horizontal padding-bottom">
            <a butt="dnbr" class="button button-dark ion-disc"></a>
            <a butt="this" class="button button-dark icon ion-headphone"></a>
            <a butt="jump" class="button button-calm icon ion-forward"></a>
            <div class="padding item item-toggle">
              <i class="icon ion-android-arrow-down-right" style="padding:0 80px 0 20px"></i>
              <label class="toggle">
                <input type="checkbox" ng-change="appendToggle(ap)" ng-model="ap">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>
          <div class="button-bar padding-horizontal padding-bottom">
            <a butt class="button button-dark">db</a>
            <a butt class="button button-dark">ch</a>
            <a butt class="button button-dark">ab</a>
            <a butt class="button button-dark">id</a>
            <a butt class="button button-dark">ja</a>
            <a butt class="button button-dark">te</a>
          </div>
          <ion-list>
            <ion-item ng-click="play(pli.Pos)" ng-repeat="pli in status.playlist"
              ng-class="{active:pli.Pos===status.status.song}">
              <div class="playlist-item">
                {{pli.Artist ? pli.Artist + ' - ' : ''}}{{pli.Title}}
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="genres.html" type="text/ng-template">
      <ion-view title="Genres">
        <ion-content>
          <ion-list>
            <ion-item ng-click="addRandomByGenre(ge.short)" ng-repeat="ge in genres">
              <div class="genre">{{ge.display}}</div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="latest.html" type="text/ng-template">
      <ion-view title="Latest">
        <ion-content>
          <ion-list>
            <ion-item ng-click="addLatest(la.dir)" ng-repeat="la in latest">
              <div class="stamp">{{la.formatted}}</div>
              <div class="dir">{{la.display}}</div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="settings.html" type="text/ng-template">
      <ion-view title="Settings">
        <ion-content class="padding">

          <p style="height:5em">
          <button ng-show="connected" class="button" ng-click="wipeCache()">Wipe {{host}} Cache</button>
          &nbsp;
          <button ng-show="connected && host === 'pi'" class="button" ng-click="poweroffPi()">Poweroff Pi</button>
          </p>

          <div>
            <p style="margin-top:6em;width:20em">
            Status:
            {{connected ? '' : 'not '}}connected
            </p>

            <p>
            <button class="button" ng-class="{'button-balanced':host=='mobius'}"
              ng-click="connect('mobius')">mobius</button>
            <button class="button" ng-class="{'button-balanced':host=='thmbp'}"
              ng-click="connect('thmbp')">thmbp</button>
            <button class="button" ng-class="{'button-balanced':host=='pi'}"
              ng-click="connect('pi')">pi</button>
            </p>
          </div>

        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
